@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#bdc3c7, #2c3e50);
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  width: 600px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0 0 0 0.2);
  background-color: #fff;
  overflow: hidden;
}

h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

button {
  width: 100%;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem;
}
button:hover {
  background-color: #621583;
  cursor: pointer;
  transition: 0.2s ease-in;
}
button:focus {
  background-color: #621583;
  outline: none;
}

ul {
  list-style-type: none;
}
ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
}

ul li label {
  cursor: pointer;
}
